### temp file ###
*swp
*~
*.out

### executable file ###
bin/

### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin

# Created by https://www.gitignore.io/api/cmake

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build


# End of https://www.gitignore.io/api/cmake

# Created by https://www.gitignore.io/api/cuda

### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

### result ###
result
# End of https://www.gitignore.io/api/cuda
